{% extends 'blog/base.html' %}

{% block content %}
<div class="span9">
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-header">
        <h3><i class="icon-play"></i> Lista de Partidas</h3>
      </div>
      <div class="box-content">
        <div class="content-inner">
          <div class="marg20-btm">
            <div class="total-partidas">
              Total de Partidas
              <span class="badge badge-inverse">{{ partidas|length }}</span>
            </div>
            <form class="form-inline pull-right">
              <input type="text" placeholder="Pesquisar partida">
              <input class="btn" type="submit" value="Search">
            </form>
          </div>

          {% if partidas %}
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Partida</th>
                <th>Resultado</th>
                <th>Data da partida</th>
                <th>Estado</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody class="nav-list"> <!-- Adicionando a classe nav-list aqui -->
              {% for partida in partidas %}
              <tr>
                <td><p>{{ partida.pk }}</p></td>
                <td><p>{{ partida.equipe1 }} vs {{ partida.equipe2 }}</p></td>
                <td><p>{{ partida.placar1 }} - {{ partida.placar2 }}</p></td>
                <td>{{ partida.data_partida }}</td>

                {% if partida.concluido %}
                <td><span class="label label-success">Concluída</span></td>
                {% else %}
                <td><span class="label label-important">Pendente</span></td>
                {% endif %}

                <td>
                  <div class="btn-group">
                    {% if partida.concluido %}
                    <a class="btn btn-info" href="{% url 'blog:vencedores' partida.id %}" rel="tooltip" data-original-title="Mostrar Jogadores vencedores"><i class="icon-signal"></i> Mostrar Vencedor</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'blog:partida' partida.id %}" rel="tooltip" data-original-title="Selecionar partida"><i class="icon-ok"></i> Selecionar</a>
                    {% endif %}
                    <a class="btn btn-info" href="{% url 'blog:vencedores' partida.id %}" rel="tooltip" data-original-title="Mais informações sobre a partida">Detalhes</a>

                    {% if user.is_staff %}
                    <a class="btn btn-success" href="{% url 'blog:partida-update' partida.id %}" rel="tooltip" data-original-title="Atualizar partida"><i class="icon-inbox"></i> Atualizar</a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="alert alert-info">
            <h3>Sem partidas adicionadas</h3>
          </div>
          {% endif %}

          <!-- Paginação -->
          <div class="pagination-container">
            {% if is_paginated %}
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li><a href="?page=1">Primeiro</a></li>
              <li><a href="?page={{ page_obj.previous_page_number }}">←</a></li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
              <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
              {% elif num > page_obj.number|add:'-3' and num <  page_obj.number|add:'3' %}
              <li><a href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">→</a></li>
              <li><a href="?page={{ page_obj.paginator.num_pages }}">Último</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}